.carousel-inner {
  height: 100%;

  .carousel-item {
    height: 100% !important;
    img {
      object-fit: cover;
      object-position: bottom center;
      height: 100vh !important;

      @media (max-width: 576px) {
        height: 93vh !important;
      }
    }
  }
}
